#container{
    height: 100dvh;
    max-width: 100dvw;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(1, 180px) 5fr;    
}

.plc-hldr{
    background-color: rgb(4, 0, 255);
    height: 20px;
    width: 30px;

}

#sidebar {
    background-color: aquamarine;
    padding-left: 30px;
    padding-top: 20px;
    grid-column: 1;
    grid-row: 1/3;

    display: grid;
    grid-template-rows: 50px 150px 1fr; 
}

#header{
    background-color:red ;
    grid-column: 2;
    gap: 40px 20px;
    display: grid;
    grid-template-rows: repeat(1, minmax(30px,1fr)) repeat(1,  minmax(90px, 3fr));
    grid-template-columns: 3fr 2fr;
    padding-top: 20px;


}

.header-left{
    padding-left: 20px;
}

#main{
    background-color: black;
    grid-column: 2;
}

#search-area{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;

    align-items: start;
    grid-template-columns: 1fr 30fr;
}

#search-bar{
    grid-template-columns: 1fr;
    display: flex;
}

#search{
    border: 0px solid black;
    border-radius: 10px;
    height: 20px;
    flex: 1 0 auto;
}

#top-menu-area{
    display: grid;
    grid-auto-flow: column;
    align-items: start;
    grid-template-columns: repeat(2, 1fr) 5fr;
    justify-self: right;
    padding-right: 50px;
    gap: 50px;
    min-width: max-content;
}

#user-details{
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
}

#user-details #text{
    display: grid;
    grid-template-rows: 2fr 5fr;
}

.cntr{
    display: grid;
    justify-content: center;
}

#user-details .plc-hldr{
    background-color: rgb(4, 0, 255);
    height: 70px;
    width: 70px;
    border-radius: 50px;

}

#menu-buttons{
    
}